
<h1>Question #<%=@question.id%></h1>

<div>
  <strong>Name</strong>:<br />
  <p><%= @question.name %></p>
</div>
<div>
  <b>Description</b>
  <p><%= @question.description %></p>
  </div>
  
  
<a href="/questions">Back</a> 