<h1>Editing Article #<%= @article.id %></h1>

<form action="/articles/<%= @article.id %>/update">
  <div>
    <label for="name">name</label><br />
    <input id="name" name="name" value="<%= @article.name  %>" type="text" />
  </div>
  <div>
    <label for="post">post</label><br />
    <input id="post" name="post" value="<%= @article.post  %>" type="text" />
  </div>
  <div>
    <input type="submit">
  </div>
</form>


