<h1>New Article</h1>

<form action="/create_article">
  <div>
    <label for="name">name</label><br />
    <input id="name" name="name" type="text" />
  </div>
  <div>
    <label for="post">post</label><br />
    <input id="post" name="post" type="text" />
  </div>
  <div>
    <input type="submit">
  </div>
</form>

