
<div class = "container">
<div class="jumbotron">
  <h1>Dashboard</h1>
  <p>Let's get started with some math!</p> <br /> 
  <form action = "/questions/solve">
<button type="submit" class="btn btn-primary btn-lg btn-block btn-success-outline">Get started with math questions!</button>
</form>
</div>

 
</div>
