
<div class = "container">
<div class="jumbotron">
  <h1>Dashboard</h1>
  <p>Let's get started with some math! Are you smarter than a sixth grader?</p> <br /> 
  <form action = "/questions/1/solve">
<button type="submit" class="btn btn-primary btn-lg btn-block btn-success-outline">Get started with math questions!</button>
</form>
</div>

 <h1>Meet the creators:</h1>
 <div class = "user_header">


<%= image_tag "Rohan.png" %>
 <%= image_tag "Ishaan.png" %>
<%= image_tag "Ellis.png" %> 
 <%= image_tag "Kartik.png" %>

 </div>

</div>
